.App {
  text-align: center;
  
}

.header-for-colorList{
  background-color: rgb(35, 35, 35);
  color: white;
  height: 20vh;
  padding: 20px;
  
}

.header-for-colorList a {
  color: white;
}

ul{
  list-style-type: none;;
  padding: 20px

}

li{
  padding: 5px;
}

.background-color{
  height: 100vh;
  padding-top: 35vh;

  
}

